[Unit]
Description=UDP Shutdown Listener
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/username/vehicle_shutdown.py
Restart=always
User=user
WorkingDirectory=/home/username

[Install]
WantedBy=multi-user.target
